@use "sass:map";

@function pow($base, $exponent) {
  $result: 1;
  @for $_ from 1 through $exponent {
    $result: $result * $base;
  }
  @return $result
}

$white: #fff;

$font-weights: ("regular": 400, "medium": 500, "bold": 700);

footer {
  height: pow(2, 3) * 1px;
  font-weight: map.get($font-weights, "medium");
}